.bookmark-inputs {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    background-color: var(--mat-sys-secondary-container);
    padding: 20px 25px;
    border-radius: 8px;
    width: 800px;
    gap: 5px;
}

.form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.instructions {
    font-size: 16px;
    color: var(--mat-sys-on-surface)
}

.bookmark-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 15px 0;
    justify-content: space-between;
}

.bookmark-form mat-form-field:first-child {
    flex: 0 0 40%;
}

.bookmark-form mat-form-field:last-child {
    flex: 1;
}

mat-divider {
    border-top-color: grey;
    opacity: 0.5;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}