.content {
    display: flex;
    flex-direction: column;
}

.bookmarks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}