.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface)
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
}